# --- DATABASE CONFIG ---
POSTGRES_USER=vinfaster
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=vinfast_db

# --- BACKEND CONFIG ---
PORT=6868
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
NODE_ENV=production

# --- CLOUDINARY CONFIG ---
CLOUDINARY_CLOUD_NAME=db2y1chbl
CLOUDINARY_API_KEY=161878227957821
CLOUDINARY_API_SECRET=your_cloudinary_secret_here
