# --- INTERNAL CONNECTIONS (Docker Internal Network) ---
DATABASE_URL=postgresql://vinfaster:securepassword@db:5432/vinfast_db

# --- BACKEND CONFIG ---
PORT=6868
JWT_SECRET=vinfast_tiengiang_secret_key_2026_!@#
JWT_EXPIRES_IN=1d
NODE_ENV=production

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=db2y1chbl
CLOUDINARY_API_KEY=161878227957821
CLOUDINARY_API_SECRET=Aq0gVXlOqLjZQT1ZVEnbHQTh5RM
